* {
	font-family: Livvic;
}


#welcome-section {
	height: 100vh;
  width: 100vw;
	background-color: #23a8dc;
	text-align: center;
}

#welcome-header {
	color: #fff;
	font-size: 70px;
	margin-top: 40vh;
	display: inline-block;
}

#welcome-tag {
	display: inline-block;
	font-family: Montserrat;
	font-size: 30px;
	color: #fff;
}

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 10vh;
	background-color: #ddd;
	margin: 0;
	padding: 0;
	text-align: center;
}

#contact {
	text-align: center;
	font-size: 40px;
	color: #555;
  height: 100vh;
  width: 100vw;
}

#contact a {
  text-decoration: none;
  color: #777;
  margin: 20px;
}

#contact header {
  margin-top: 300px;
}

#projects {
  width: 100%;
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: #000;
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  color: #fff;
  font-size: 35px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #000;
  transition: color 0.3s ease-out;
}

.nav-link {
  float: right;
  display: block;
  margin-right: 5%;
  margin-top: 1.8%;
  color: #555;
  padding-left: 10px;
  font-weight: 700;
  font-size: 25px;
}

.project:hover .code {
  color: #ff7f50;
}

.project-image {
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
}

a {
	text-decoration: none;
	color: #fff;
}

section {
  width: 100vw;
  left: 0;
}
